Mr. Randy Graf
Ion Implant Services
1050 Kifer Rd.
Sunnyvale, CA  94056

Dear Randy:

Enclosed are eight, three-inch wafers to be implanted.  Wafers are <100> p-type Si, with about 3000A of silicon dioxide, with contact holes etched through selected portions of the oxide.

The desired implant is:  50keV  Phosphorous  at  6 x 1015  cm-2 .

.
