<HTML>
<HEAD>
<TITLE>Educational Opportunities at TCSUH</TITLE>
</HEAD>
<font size=+2>Graduate and Undergraduate Programs at TCSUH</font>
<P>
The Texas Center for Superconductivity at the University of
Houston provides advanced training and education for
undergraduate and graduate students and postdoctoral
fellows in superconductivity and related materials science.
 We currently employ 25 post-doctoral fellows, 56 graduate
students, and 32 undergraduate students.  Graduate degree
opportunities are available through the UH Cullen College
of Education and the College of Natural Sciences and
Mathematics.
<P>
Graduate fellowships are available through TCSUH in all six disciplines.
<P>
Chemistry (M.S., Ph.D.)<BR>
Physics (M.S., Ph.D.)<BR>
Chemical Engineering (M.S.Ch.E., M.Ch.E., Ph.D.) <BR>
Electrical Engineering (M.S.E.E., M.E.E., Ph.D.)<BR>
Materials Engineering (M.S., Ph.D.) <BR>
Mechanical Engineering (M.S.M.E., M.M.E., Ph.D.)<BR>
<P>
<P>
For further information on graduate programs, contact the
following departments. Undergraduate advisors are also
listed for those interested in undergraduate opportunities.
<P>
<TABLE BORDER =5  cellpadding=5 cellspacing=5  width="95%" height="20%">
<TR>
			<TH colspan=3>College of Natural Sciences and Mathematics</TH>
</TR>
<TR>
		<TD align=center>Dr. John C. Butler </TD><TD align=center>(713)743-3411</TD><TD align=center>jbutler@uh.edu</TD>
</TR>
<TR>
		<TD></TD> <TD> </TD> <TD></TD>
</TR>
<TR>
		<TH colspan=3>Chemistry (M.S., Ph.D.)</TH>
</TR>
<TR>
		<TH></TH><TH colspan=1>Undergradate</TH> <TH colspan=1>Graduate</TH>
</TR>
<TR>
	<TH>Name </TH><TD align=center>Jim Cox</TD> <TD align=center>Tom Albright</TD>
</TR>
<TR>
		<TH>Phone</TH><TD align=center> (713) 743-2729</TD> <TD align=center> (713) 743-3270</TD>
</TR>
<TR>
		<TH>E-Mail</TH><TD align=center>Not Available</TD><TD align=center>talbright@uh.edu</TD>
<TR>
		<TH colspan=1></TH>
</TR>
<TR>
		<TH colspan=3>Physics (M.S., Ph.D.)</TH>
</TR>
<TR>
		<TH></TH><TH align=center>Undergraduate</TH> <TH align-center>Graduate</TH>
</TR>
<TR>
		<TH>Name</TH><TD align=center>Lowell Wood</TD> <TD align=center>Billy Mayes</TD>
</TR>
<TR>
		 <TH align=center>Phone</TH><TD align=center> (713) 743-3548</TD> <TD align=center>(713) 743-3560</TD>
</TR>
<TR>
		<TH align=center>E-Mail</TH><TD align=center>Not available</TD><TD align=center>mayes@uh.edu</TD>
</TR>
</TABLE>
<P>
<P>
<HR>
<P>
<P>
<TABLE BORDER =5  cellpadding=5 cellspacing=5  width="95%" height="20%">
<TR>
		<TH colspan=3>Cullen College of Engineering</TH>
</TR>
<TR>
		<TD align=center>Dr. Charles Dalton</TD> <TD  align=center>(713)743-4200</TD> <TD
align=center>dalton@uh.edu</TD>
</TR>
<TR>
		<TD></TD> <TD> </TD> <TD></TD>
</TR>
<TR>
		<TH colspan=3>Chemical Engineering  (M.S.Ch.E.,  M.Ch.E., Ph.D.)</TH>
</TR>
<TR>
		<TH></TH><TH>Undergraduate</TH><TH>Graduate</TH>
</TR>
<TR>
		<TH>Name</TH><TD align=center>James Richardson</TD> <TD align=center>Cindy Stokes</TD>
</TR>
<TR>
		<TH>Phone</TH> <TD align=center>(713)743-4324</TD><TD align=center> (713)743-4309</TD>
</TR>
<TR>
		<TH>E-Mail</TH><TD align=center>richardson@jetson.uh.edu</TD><TD align=center>stokes@jetson.uh.edu</TD>
</TR>
<TR>
		<TH colspan=3></TH>
</TR>
<TR>
		<TH colspan=3>Electrical Engineering (M.S.E.E., M.E.E., Ph.D.)</TH>
</TR>
<TR>
		<TH></TH><TH>Undergradate</TH><TH>Graduate</TH>
</TR>
<TR>
		<TH>Name</TH><TD align=center>Betty Barr</TD> <TD align=center>Peri Ktonas</TD>
</TR>
<TR>
		<TH>Phone</TH><TD align=center>(713)743-4450</TD><TD align=center> (713)743-3442</TD>
</TR>
<TR>
  <TH>E-Mail</TH><TD align=center>barr@jetson.uh.edu</TD><TD align=center>ktonas@jetson.uh.edu</TD>
</TR>
<TR>
		<TH colspan=3></TH>
</TR>
<TR>
	<TH colspan=3>Materials Engineering (M.S., Ph.D.)</TH>
</TR>
<TR>
		<TH colspan=1></TH><TH colspan=2 >Graduate</TH>
</TR>
<TR>
		<TH>Name</TH><TD colspan=2 align=center>Nagaraga Shamsundar</TD>
</TR>
<TR>
		<TH>Phone</TH><TD colspan=2 align=center>(713)743-4532</TD>
</TR>
<TR>
 	<TH>E-Mail</T><TD colspan=2 align=center>hamsundar@jetson.uh.edu</TD>
</TR>
<TR>
	<TH colspan=3></TH>
<TR>
		<TH colspan=3>Mechanical Engineering (M.S.M.E., M.M.E., Ph.D.)</TH>
</TR>
<TR>
	<TH></TH><TH>Undergraduate</TH><TH>Graduate</TH>
</TR>
<TR>
		<TH>Name</TH><TD align=center>Nagaraga Shamsundar</TD><TD align=center>Stanley Kleis</TD>
</TR>

<TR>
		 <TH>Phone</TH><TD align=center>(713)743-4532</TD> <TD align=center>(713)743-4536</TD>
</TR>
<TR>
<TH>E-Mail</TH><TD align=center>shamsundar@jetson.uh.edu</TD><TD
align=center>kleis@uh.edu</TD>
</TR>
</TABLE>
</div></body>
</HTML>
